<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel Planner</title>
    </head>

    <body>
            <div id="main-container">
                <main>
                    <div id="top-section">
                        <img src="./images/img4.jpg" style="width:100%; height: 100%;object-fit: cover;">
                        <h1>Travel Planner</h1>
                    </div>
                    <div id="middle-section">
                        <div id="midLeft-section">
                            <button id="PlannerBtn" class= "button" onclick = "return Client.setMenuPage(0)">Planner</button>
                            <button id="newsBtn" class= "button" onclick = "return Client.setMenuPage(1)">News</button>
                            <button id="aboutBtn" class= "button" onclick = "return Client.setMenuPage(2)">About</button>
                            <button id="saveBtn" class= "button"></button> 
                            <button id="saveBtn1" class= "button"></button>
                            <button id="saveBtn2" class= "button"></button>
                            <button id="saveBtn3" class= "button"></button>
                            <button id="saveBtn4" class= "button"></button>
                            <button id="mybutton"class= "button"></button>
                        </div>
                        <div id="midMid-section">
                            <div id="midMidUR-section">
                            
                             <!-- Slideshow container -->
                            <div id= "slideList" class="slideshow-container">

                                
                            </div>
                            <br>
                            <!-- The dots/circles -->
                            <div id="dot-container">
                                
                            </div> 
                            </div>
                            <div id="midMidUl-section">
                                <div id="infomation-container" class="menuPage" style ="display: none">
                                   <input type="text" id="cityField" class = "infoData" placeholder="Enter City Name"></input>
                                   <input type="date"id="dateField" class = "infoData"></input>
                                   <br>
                                   <br>
                                   <input type="text" id="lat" class = "infoData" placeholder="lat"readonly></input>
                                   <input type="text" id="lon" class = "infoData" placeholder="lon"readonly></input>
                                   <button id="submitButton1"  onclick = "return Client.handleSubmit(event)" class="button">Submit</button>
                                </div>
                                <div id="news-container" class="menuPage" Style = "display: none">
                                    <img id="newsImg" src="./images/img8.jpg"height="98%" width = "98%" alt="news picture"></img>
                                </div>
                                <div id="about-container"class="menuPage" Style = "display: none">
                                    <p>Demo Travel planner release 1.0</p>
                                </div>
                                <div id="travelPage" class="menuPage" style = "display: none">
                                    <h2>Travel Planner</h2>
                                    <br>
                                    <p>Destination</p>
                                    <br>
                                    <p id="City"></p>
                                    <br>
                                    <P>Date of travel</P>
                                    <p id="travelDate"></p>
                                    
                                    <button id="newToDo" class="button" onclick = "return Client.newList(event)">Add ToDo</button>

                                </div>

                            </div>
                            <div id="midMidLw-section">
                                <div id="ul-container">
                                    <ul id="destList"></ul>
                                </div>
                                <div id="toDoInput-container">
                                    <p id="counterItem" style = "display: none"></p><br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <input id="inputToDo" type="text"  placeholder="Enter ToDo task" onkeypress ="return Client.checkKey(event)">
                                    <button id="delToDoItem" onclick = "return Client.delToDoItem(event)" class="button"style="display: none">Delete Item</button> 
                                    <button id="exitEditMode" onclick = "return Client.exitEdit(event)" class="button"style="display: none">Exit Edit</button>
                                </div>
                                <div id="toDo-container">
                                   <div id="toDoList">

                                   </div>
                                </div>
                            </div>
                        </div>
                        <div id="midRight-section">
                            <div id="weather-container">

                            </div>
                        </div>
                    </div>     
                    <div id="bottom-section">
                        <footer>My footer</footer>
                    </div>
                </main>
            </div>
            
        <script>
            
            //Pixibay API  https://pixabay.com/api/?key=20856902-34831ed0e67fa07c13ae15a3b&q=yellow+flowers&image_type=photo
            
            // Check that service workers are supported
            //if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
               // window.addEventListener('load', () => {
                   // navigator.serviceWorker.register('/service-worker.js');
              // });
           // }
        </script>
    </body>
</html>
