<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>

        
    </head>

    <body>
        <div id="page-container">
            <div id="header-container">
                <header>
                    <h1 id="header-main">NLP Demo Project</h1>
                </header>
            </div>
            <div id="main-container">
                <main>
                    <section>
                        <form class="" onsubmit="return Client.handleSubmit(event)">
                            <input id="urlName" type="text" name="input" value="" placeholder="Enter URL Here">
                            <input id="urlSubmit" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                        </form>
                    <section>

                    <section>
                        <strong>Form Results:</strong>
                        <textarea id="apiResult"></textarea>
                    </section>
                </main>
            </div>
            <div id="footer-container">
                <footer>
                    <p>This is a footer</p>
                </footer>
            </div>
        </div>
        <script>
            // Check that service workers are supported
         //   if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
         //       window.addEventListener('load', () => {
         //           navigator.serviceWorker.register('/service-worker.js');
         //       });
         //   }
        </script>
    </body>
</html>
