#main-container {
  position: absolute;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background: white;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 0.25fr;
  grid-template-areas:
    "tp"
    "md"
    "bt";
  border: 4px ridge #c931c9;
  height: fit-content;
  width:fit-content;
  background-color: #cccccc;
  background-image: linear-gradient(rgb(187, 255, 0), rgb(0, 255, 13));
}

.midLowerMenu.active {
  display: block;
}

#top-section {
  grid-area: tp;
  width: auto;
  height:max-content;

  display: flex;
  justify-content: center;
  background-color: linear-gradient(rgb(187, 255, 0), rgb(0, 255, 13));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#middle-section {
  grid-area: md;
  /*width: 100%;*/
  height: auto;
  
  display: grid;
  grid-template-columns: 0.35fr 1fr 0.35fr;
  grid-template-rows: 1f 1f 1f 1f;
  grid-template-areas:
    "ulf ct urt"
    "ulf ct urt"
    "llf ct lrt"
    "llf ct lrt";
  font-size: 10pt;
}

#midMid-section {
  grid-area: ct;
  /*width: 100%;
    height: 100%;*/
    max-height: 800px;  
  justify-content: left;
  position: relative;
  display: grid;
  margin: 5px;
  background-color: #cccccc;
  background-image: radial-gradient(red, yellow);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "mul mur"
    "mlw mlw";
}

#midMidUR-section {
  grid-area: mur;
  width: inherit;
  min-height: inherit;
  max-height: 400px;
  justify-content: left;
  border: groove 6px burlywood;
  display: none;
}

#midMidUl-section {
  grid-area: mul;
  width: inherit;
  min-height: inherit;
  max-height: 400px;
  display: flex;
  justify-content: left;
  border: groove 6px burlywood;
}

#saveUl-container {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#recordStatus {
  display: none;
}

#midMidLw-section {
  grid-area: mlw;
  grid-template-columns: 1fr;
  grid-template-rows: 2em max-content;
  grid-template-areas:
    "lwrup"
    "lwrdn";
  width: inherit;
  min-height: inherit;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  border: groove 6px burlywood;
}

.midLowerMenu {
  display: none;
}

.midLowerMenu.active {
  display: block;
}

#news-container {
  scroll-behavior: smooth;
  overflow-y: scroll;
  display: none;
  max-height: 99%;
  max-width: 99%;
}

#recordIdNumb {
  display: none;
}

#midLeft-section {
  grid-area: ulf;
  width: inherit;
  max-height: 100%;
  min-height: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

#midRight-section {
  grid-area: urt;
  width: inherit;
  height: inherit;
  border: 3px solid #c931c9;
  justify-content: left;
  margin: 5px;
  margin-right: 10px;
  display: none;
  justify-content: left;
  background-color: rgb(221, 172, 221);
}

#weather-container {
  width: 100%;
}

#bottom-section {
  grid-area: bt;
  width: auto;
  max-height: auto;
  margin: 5px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-image: linear-gradient(rgb(187, 255, 0), rgb(0, 255, 13));
}

#dot-container {
  text-align: center;
}

#infomation-container {
  text-justify: left;
  display: none;
}

#about-container {
  display: none;
}

#travelPage {
  display: none;
  padding:4px;
  font-style: italic;
  font-weight: bold;
}

.travelP, .travelDest, .childtext {
  padding: 2px;
  font-size: 12px;
}

#dateHolder {
  display: none;
}

.childtext {
  text-align: left;
  color: #f2f2f2;
}

#ul-container {
  max-width: fit-content;
  height: auto;
}

#toDoInput-container {
  grid-area: lwrup;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: none;
  display: none;
}

#inputToDo {
  height: 1.5em;
  font-size: 8pt;
  position: absolute;
  left: 1.9%;
  bottom: 43.5%;
  /*display: none;*/
}

#toDoLabel {
  position: absolute;
  left: 2%;
  bottom: 46.5%;
}

#counterItem {
  display: none;
}

#toDo-container {
  grid-area: lwrdn;
  width: 100%;
  height: 200px;
  font-size: 10pt;
  font-family: "ALucida Console", Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
  //display: inline-block;
  display: none;
  justify-content: left;
}

#toDoList {
  //display: none;
}

#blankMid {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  #topimg {
    //width:100%;
    //height: 100%;
    object-fit: cover;
  }
}
// Top Header
h1 {
  text-justify: center;
  position: absolute;
  font-size: 20pt;
  font-style: italic;
  font-weight: bold;
  color: rgb(238, 228, 228);
}

h2 {
  text-justify: center;
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
  color: black;
}

li {
  padding: 5px 10px 5px 5px;
  color: black;
  cursor: pointer;
}

li:hover {
  color: white;
}

label {
  font-size: 10pt;
  font-weight: bold;
}

.checkBoxLabel {
  cursor: pointer;
  color: black;
}

.checkBoxLabel:hover {
  color: white;
}

#destList {
  margin: 5px 10px 5px 10px;
  max-height: 300px;
  width: auto;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

button {
  height: 1.5em;
}

#submitButton1 {
  position: absolute;
  bottom: 53%;
  right: 53%;
}

//Save toDo list button
#saveToDo {
  position: absolute;
  bottom: 42.4%;
  left: 25.3%;
  font-size: 8pt;
  height: 1.5em;
}
// add ToDo list button
#newToDo,
#acceptBtn,
#eraseToDo {
  position: absolute;
  bottom: 53%;
  right: 53%;
  display: none;
}
//Delete ToDo List item button
#delToDoItem {
  position: absolute;
  bottom: 37.5%;
  left: 1.9%;
  font-size: 8pt;
  height: 1.5em;
}
// Exit Edit Mode button
#exitEditMode {
  position: absolute;
  bottom: 37.5%;
  left: 13%;
  font-size: 8pt;
  height: 1.5em;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0px 0px 0px 0px;
  width: 100%;
  background-color: rgb(90, 12, 90);
}

.tabButton {
  display: inline-block;
  text-align: center;
  font-size: 8pt;
  color: #fff;
  background-color: rgb(90, 12, 90);
  height: 1.5em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
}

.tabButton:hover {
  background-color: rgb(221, 172, 221);
}

.tabButton.active {
  background-color: rgb(221, 172, 221);
}

.button {
  display: inline-block;
  font-size: 16px;
  height: 2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2dd7ee;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0 5px 11px #186f7a;
}

.button:hover {
  background-color: #0ab5cc;
}

.button:active {
  background-color: #0ab5cc;
  box-shadow: 0 5px 7px #186f7a;
  transform: translateY(4px);
}

.button:disabled {
  background-color: #6a7172;
  box-shadow: 0 5px 7px #2f3131;
  color:darkgray;

}

.infodata {
  margin: 3px;
  border-radius: 20px;
  margin-bottom: 10px;
}

//weather section

#currForcast {
  margin: 5px 10px 5px 10px;
}

#extForcast {
  margin: 5px 10px 5px 10px;
  max-height: 600px;
  width: auto;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#histForcast {
  margin: 5px 10px 5px 10px;
  height: auto;
  width: auto;
}

@media screen and (max-width: 1100px) {
  //Delete ToDo List item button
  #delToDoItem {
    position: absolute;
    bottom: 37.5%;
    left: 1.9%;
    font-size: 7pt;
    height: 1.5em;
  }
  // Exit Edit Mode button
  #exitEditMode {
    position: absolute;
    bottom: 37.5%;
    left: 23.3%;
    font-size: 7pt;
    height: 1.5em;
  }
  #saveToDo {
    position: absolute;
    bottom: 42.3%;
    left: 36%;
    font-size: 7pt;
    height: 1.5em;
  }
}

@media screen and (max-width: 980px) {
  .button {
    font-size: 10px;
    height: 1.5em;
  }

  .tabButton {
    font-size: 6pt;
  }

  h1 {
    font-size: 14pt;
  }

  label {
    font-size: 8pt;
    font-weight: bold;
  }

  .dot {
    height: 8px;
    width: 8px;
  }
  .numbertext {
    font-size: 8px;
  }
  #middle-section {
    font-size: 7pt;
  }

  .infoData {
    font-size: 6px;
  }
  #saveToDo {
    position: absolute;
    bottom: 42.3%;
    left: 41%;
    font-size: 7pt;
    height: 1.5em;
  }
  select {
    font-size: 8pt;
  }

  h2 {

    font-size: 10pt;

  }
}

@media screen and (max-width: 700px) {
  #middle-section {
    grid-area: md;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr auto auto;
    grid-template-areas:
      "ctop"
      "ct"
      "ct"
      "cbot"
      "clw";
    font-size: 10pt;
  }

  #midMidUR-section {
    grid-area: mur;
    width: inherit;
    min-height: inherit;
    max-height: 400px;

    justify-content: left;
    border: groove 6px burlywood;
  }

  #midMidUl-section {
    grid-area: mul;
    width: inherit;
    min-height: inherit;
    max-height: 400px;
    display: flex;
    justify-content: left;
    border: groove 6px burlywood;
  }

  #midMidLw-section {
    grid-area: mlw;
    width: inherit;
    min-height: inherit;
    max-height: 400px;
    display: flex;
    justify-content: center;
    border: groove 6px burlywood;
  }

  #midLeft-section {
    grid-area: ctop;
    width: 96.9%;
    min-height: 0px;
    max-height: 90px;
    margin: 5px;
    border: 3px solid #c931c9;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: burlywood;
  }

  #midRight-section {
    grid-area: cbot;
    width: 96.5%;
    height: inherit;
    border: 3px solid #c931c9;
    justify-content: left;
    margin: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: left;
    background-color: rgb(221, 172, 221);
  }
  //Delete ToDo List item button
  #delToDoItem {
    position: absolute;
    bottom: 37.5%;
    left: 1.9%;
    font-size: 6pt;
    height: 1.5em;
  }
  // Exit Edit Mode button
  #exitEditMode {
    position: absolute;
    bottom: 37.5%;
    left: 26.3%;
    font-size: 6pt;
    height: 1.5em;
  }

  #saveToDo {
    position: absolute;
    bottom: 42.8%;
    left: 44%;
    font-size: 6pt;
    height: 1.5em;
  }

  label {
    font-size: 7pt;
    font-weight: bold;
  }
  .button {
    font-size: 8px;
    height: 1.5em;
  }
  select {
    font-size: 6pt;
  }

  h2 {

    font-size: 11pt;

  }

}
@media screen and (max-width: 430px) {
  #saveToDo {
    position: absolute;
    bottom: 42.8%;
    left: 61%;
    font-size: 7px;
    height: 1.5em;
  }
  .button {
    font-size: 7px;
    height: 1.5em;
  }
  label {
    font-size: 7px;
  }


  h2 {

    font-size: 10px;

  }

  .travelP, .travelDest, .childtext {
    padding: 2px;
    font-size: 7px;
  }

}  